{% extends 'base.html' %} {% block body %}
<div class="container">
  <!--  <h1>Usuários</h1>
  {% for usuario in lista_usuarios %}
  <p>{{ usuario }}</p>
  <hr />
  {% endfor %}-->
  <hr />
  <h1>Fattura+</h1>
  <h3>Especialistas em Faturamento Hospitalar</h3>
  <h3>Quem Somos</h3>
  <p>
    A Fattura+ é uma empresa líder em soluções de faturamento hospitalar, com
    ampla experiência no mercado. Nossa missão é otimizar os processos
    financeiros de instituições de saúde, garantindo eficiência e precisão em
    cada etapa.
  </p>
  <h3>Nossos Serviços</h3>
  <p>
    Gestão de Faturamento: Implementamos e gerenciamos processos de faturamento
    hospitalar, assegurando conformidade com as normas e regulamentos vigentes.
  </p>
  <p>
    Revisão e Recurso de Glosas: Analisamos e corrigimos glosas, minimizando
    perdas financeiras e melhorando a receita dos nossos clientes.
  </p>
  <p>
    Consultoria Personalizada: Oferecemos consultoria especializada para
    identificar e solucionar problemas específicos de faturamento.
  </p>
  <p>
    Treinamentos e Capacitação: Realizamos treinamentos para equipes de
    faturamento, garantindo que estejam atualizadas com as melhores práticas do
    setor.
  </p>
  <h3>Nossa Experiência</h3>
  <p>
    Com anos de atuação no mercado, a Fattura+ possui um histórico comprovado de
    sucesso. Nossos especialistas são altamente qualificados e comprometidos com
    a excelência, proporcionando resultados tangíveis para nossos clientes.
  </p>
  <h3>Por Que Escolher a Fattura+?</h3>
  <p>
    Expertise: Nossa equipe é composta por profissionais experientes e
    capacitados.
  </p>
  <p>
    Tecnologia: Utilizamos as mais recentes tecnologias para otimizar processos
    e garantir precisão.
  </p>
  <p>
    Resultados: Focamos em resultados concretos, aumentando a eficiência e a
    receita das instituições de saúde.
  </p>
  <p>
    Parceria: Trabalhamos em estreita colaboração com nossos clientes,
    entendendo suas necessidades e oferecendo soluções sob medida.
  </p>
  <h3>Depoimentos</h3>
  <p>
    “A Fattura+ transformou nosso processo de faturamento, reduzindo
    significativamente as glosas e aumentando nossa receita.” - Hospital XYZ
  </p>
  <p>
    “Com a consultoria da Fattura+, conseguimos otimizar nossos processos e
    melhorar a eficiência financeira.” - Clínica ABC
  </p>
  <h3>Entre em Contato</h3>
  <p>
    Para saber mais sobre como a Fattura+ pode ajudar sua instituição, entre em
    contato conosco:
  </p>
  <p>Telefone: (67) 9 9999-9999</p>
  <p>Email: fatturamais@gmail.com</p>
  <p>Website: www.fatturamais.com</p>
</div>

{% endblock %}
